{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    
    "rules": {
        "no-console": "off",
        "import/extensions": [0, { "<js>": "always" }]
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        }
    }
    
}